div#privacyPolicy div#content {
    background-color: white;
    text-align: center;
}
div#privacyPolicy div#content div#intro {
    text-align: center;
    font-size: x-large;
    padding-left: 20%;
    padding-right: 20%;
}
div#privacyPolicy div#content div {
    text-align: left;
    font-size: larger;
    padding-left: 5%;
    padding-right: 5%;
}
table#diagram {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    font-size: medium;
}
details {
    text-align: center;
    width: 100%;
}
details summary {
    text-align: left;
    font-size: xx-large;
    width: 100%;
    height: 100%;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
}
details summary:hover {
    color: #06c;
}
details summary::-webkit-details-marker {
}
details p {
    text-align: left;
}